.profile-section {
    padding: 40px 20px;
}

.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.profile-image-container {
    margin-right: 30px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #e0e0e0;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.username {
    font-size: 24px;
    font-weight: bold;
}

.profile-actions {
    margin-left: auto;
}

.edit-profile-button {
    display: inline-block;
    color: #ff3a3a;
    border: 1px solid #ff3a3a;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
}

.edit-profile-button:hover {
    background-color: #ff3a3a;
    color: white;
}

.item-tabs {
    margin: 0 auto;
    padding-left: 100px;
    display: flex;
    border-bottom: 2px solid #5f5f5f;
}

.tab {
    color: #5f5f5f;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
}

.tab.active {
    color: #ff0000;
    font-weight: bold;
}

.items-grid {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.item-card {
    margin-bottom: 20px;
}

.item-image {
    background-color: #e0e0e0;
    max-width: 290px;
    max-height: 290px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
}

.item-name {
    font-size: 14px;
}
