body {
    background-color: #ffffff;
    font-family: Inter;
    font-weight: 700;
}

.header-inner {
    background-color: #000000;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 100%;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 400;
}

.nav-links {
    display: flex;
    align-items: center;
}

.login-button {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.125rem;
    font-weight: 400;
}

.mypage-button {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.125rem;
    font-weight: 400;
}

.logout-button {
    color: #ffffff;
    background-color: #000;
    border: none;
    font-size: 1.125rem;
    margin-left: 20px;
    font-weight: 400;
}

.logout-button:hover {
    cursor: pointer;
}

.listing-button {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .search-container {
        margin: 0 10px;
    }

    .logout-button,
    .login-button {
        font-size: 1rem;
        margin-left: 0px;
    }

    .mypage-button,
    .listing-button {
        font-size: 1rem;
        margin-left: 10px;
    }
}
